.top-text{
    font-size: 15px;
    font-weight: 600;
    color: GREEN;

}
.top-dist{
    margin-top: 63px; 
}
.card-def{
    background-color: #8eadf1;
    color:white !important;
    font-weight: 600;
    img{
        border-radius: 25px;
        height: 50px;
        width: 50px;
    }

}