.sign-up-form-section{
text-align: center;
justify-content: center;
display: flex;
position: relative;
height: 100vh;
align-items: center;
}

.card-deff{
    height:400px;
    background-color: #8eadf1;
    color:white !important;
    font-weight: 600;
    img{
        border-radius: 25px;
        height: 50px;
        width: 50px;
    }
}
.card-short{
    height:400px;

    margin-top:92px;
    background-color: #8eadf1;
    color:white !important;
    font-weight: 600;
    img{
        border-radius: 25px;
        height: 50px;
        width: 50px;
    }
}
.user-img{
    img{
     position: relative !important;
        border-radius: 73px !important;
        height: 90px !important;
        width: 90px !important;
}
}
