ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
  background-color: rgb(71, 89, 255);
}

li {
  float: right !important;
  color: white !important;
  text-decoration: none !important;
}

li a {
  cursor: pointer;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
}

li a:hover {
  background-color: rgb(50, 110, 241);
  color: white !important
}

.button-home{
  z-index: 10;
}
.mtp{
  margin-top: 7px !important;
}