.top-text{
    font-size: 15px;
    font-weight: 600;
    color: black;

}
.top-dist{
    margin-top: 63px; 
}
.center-form {
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
  }
  